---
layout: default
title: "A little about me"
subtitle:
---
    
<section id="one">
        <div class="container">
            <header class="major">
                <h2>{{page.title}}</h2>
		<p>{{page.subtitle}}</p>
            </header>
            <p>Hello, my name is Sofia and I'm from Mendoza, Argentina. I've been into competitive programming since the age of 15, and now, I'm studying physics and mathematics at the Moscow Institute of Physics and Technology. I'm also into languages, studied German for four years, and now I'm doing my degree in Russian. I consider myself a self-learner, and here I want to share my tips and study methods. I also write about my experience as a foreign student in this country, and my journey in choosing a career path.</p>
        <p>I'd love for you to stick around!</p>
        </div>
    </section>

{% include recentposts.html %}
