<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Sofia B. Lopez</a></h1>
            <p>Student at Moscow Institute of Physics and Technology.<br />
            </p>
        </header>
	
	{% include navigation.html %}
		
        <footer>
	<ul class="icons">
		{% for item in site.data.icons %}
                <li><a href={{item.link}} class="{{item.class}}"><span class="label">
			{{ item.name }}
			</span></a></li>
		{% endfor %}
	</ul>
        </footer>

    </section>
