{% assign current = page.url | downcase | split: '/' %}

<nav id="nav">
	<ul>
                {% for item in site.data.navigation %}
                        <li><a {% if page.url == item.link %}class="scrolly active"{% else %}class="scrolly"{% endif %}  href="{{item.link}}">
                                {{ item.name }}
                        </a></li>
       		{% endfor %}
	</ul>
</nav>
