<article>
<section class="excerpt">
<header>
	<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
</header>
        {{ post.content | truncatewords: 50 }}
</section>

<footer>
	<ul class="actions">
		<li><a href="{{post.url}}" class="button">Read More</a></li>
        </ul>
</footer>

<div class="clear"></div>
</article>

