<section>
<header><h2>Recent posts</header></h2>
	<div class="container"><div class="features">
        {% for post in site.posts %}
            {% include post_preview.html %}
        {% endfor %}
	</div></div>
</section>
