---
layout: default
cant: 10
---
<section id="one" >
    <div class="container">
            <article>
                <header class="major">
                    <h2>{{ page.title }}</h2>
                </header>
                <section class="post-content">
                    {{ content }}
                </section>
            </article>
    </div>
</section>

{% include relatedposts.html %}
