<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    {% include /head.html %}
    <body>
	
<!-- Facebook comments script -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=2086302901448588&autoLogAppEvents=1';
  		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<!-- -->

        <div id="wrapper">
        {% include /header.html %}

            <!-- Main -->
            <div id="main">
                {{ content }}

            </div>
            {% include /footer.html %}
		</div>
	</body>
</html>
